{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="{%  static 'home.css' %}">
{% endblock %}
{% block body %}
    {% include 'header.html' %}
    <form action="" method="post">
        {% csrf_token %}
        {{ my_form }}
        <input type="submit" value="OK">
    </form>
    <main>
        <div class="container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-4">
                        {% include 'home/article.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>
    {% include 'footer.html' %}
{% endblock %}
