<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css2.css">
    <link rel="stylesheet" href="<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">">
</head>

<body>
    <section class="header">
        <div class="container">
            <h1>Французкий бульдог</h1>
            <img src="img/francuzskij-buldog-tablet_0.jpg" alt="">
        </div>
        <b>
            <p>Французский бульдог – одна из самых популярных пород собак. Их предками были отважные бойцовые и
                травильные псы. Современные же бульдоги унаследовали от них бесстрашие и активность, но со временем
                приобрели дружелюбие и веселый нрав, за который их так любят владельцы. К тому же маленькие питомцы
                отлично чувствуют себя в квартирах, а еще с ними легко путешествовать, поэтому их часто заводят у себя
                именно жители городов.</p>
        </b>
    </section>
    <section class="content">
        <div class="container">
            <h2>Содержание</h2>
            <ol>
                <li><a href="#p1">История происхождения породы</a></li>
                <li><a href="#p2">Внешний вид</a></li>
                <li><a href="#p3">Плюсы и минусы породы</a></li>
                <li><a href="">Характер и повадки французского бульдога</a></li>
                <li><a href="">Воспитание и дрессировка</a></li>
                <li><a href="">Здоровье и болезни французского бульдога</a></li>
                <li><a href="">Уход и содержание</a></li>
                <li><a href="">Особенности питания</a></li>
                <li><a href="">Как выбрать щенка породы французский бульдог</a></li>
            </ol>
        </div>
    </section>
    <section class="p1" id="p1">
        <div class="container">
            <h3>История происхождения породы</h3>
            <img src="img/istoriya-proiskhozhdeniya-porody-francuzskij-buldog_0.jpg" alt="">
        </div>
        <p>
            Настоящая история создания породы французский бульдог доподлинно неизвестна, поэтому возникло несколько
            версий ее происхождения. Сходятся все лишь в одном: предками французских бульдогов были староанглийские
            бульдоги, которых выставляли в собачьих боях. Далее выдвигаются разные предположения.
        </p>
        <p>
            Согласно одной из версий, французский бульдог – результат английской селекции. После указа о запрете
            собачьих
            боев в начале XIX века в британцы увлеклись кинологией и с энтузиазмом занялись разведением и улучшением
            местных пород собак. Спустя столетие эти питомцы были частным образом привезены во Францию, весьма
            полюбились местной знати и постепенно разъехались во все концы государства.
        </p>
        <p>
            По другой версии, французы скрестили английских бульдогов с ныне исчезнувшими испанскими. Их еще называли
            «аланами» и использовали в боях, но только не друг с другом, как в Англии, а натравливали на быков. Кстати,
            в современном стандарте породы аланы указаны как одни из предков французских бульдогов.
        </p>
        <p>
            В третьем варианте предки французских бульдогов очень понравились английским рабочим. Благодаря небольшим
            размерам, веселому нраву, а также охотничьему азарту и высокой активности они стали прекрасными домашними
            любимцами и отличными крысоловами. Затем часть рабочих эмигрировала во Францию вместе со своими питомцами,
            где те перемешались с местными породами собак. Эти животные также очень полюбились французской знати из-за
            своей очаровательной внешности, и они стали весьма популярны в элитных кругах.
        </p>
        <p>
            В начале ХХ века эта порода появилась и в России, где собаки сразу стали востребованы среди известных людей,
            среди которых были, например, Шаляпин и Маяковский. К концу Второй мировой войны в стране остался всего один
            французский бульдог – кобель по кличке Флик. Чтобы не потерять породу, собак привозили из-за рубежа, и
            постепенно количество французов вновь увеличилось.
        </p>
    </section>
    <section class="p1" id="p2">
        <div class="container">
            <h3>Внешний вид</h3>
            <img src="img/vneshnij-vid-porody-francuzskij-buldog.jpg" alt="">
        </div>
        <p>
            Кобели весят 10-15 кг, суки – 8-12 кг. Высота в холке варьируется от 25 см до 35 см. Самки обычно ниже
            самцов.
        </p>
        <p>
            Голова массивная и квадратная. К отличительным особенностям можно отнести складки на короткой морде,
            характерные для данной породы. Нос приплюснут и вздернут вверх. Челюсти мощные, а нижняя слегка выступает
            вперед. Зубы крепкие. Они вместе с челюстями являются ярким напоминанием о травильном прошлом этих собак.
            Уши небольшие и стоячие, широкие у основания и закругленные на концах.
        </p>
        <p>
            Представители данной породы небольшого размера, но назвать их миниатюрными никак нельзя. У них крепкое и
            коренастое тело квадратной формы. Хвост короткий и низко посажен. Лапы сильные и мускулистые, но короткие,
            из-за чего французам тяжело плавать, и они быстро устают. Интересная особенность данной породы заключается в
            том, что передние конечности у них короче задних, поэтому собаки выглядят слегка сутулыми, а также любят
            спать, забавно вытянув задние ноги.
        </p>
        <p>
            Шерсть короткая, тонкая, гладкая и блестящая. Подшерстка нет. Окрас в основном в рыже-палевых тонах, при
            этом возможен как однотонный, так и тигровый и пятнистый.
        </p>
    </section>
    <section class="p1" id="p3">
        <div class="container">
            <h3>Плюсы и минусы породы</h3>
            <img src="img/plyusy-i-minusy-porody-francuzskij-buldog.jpg" alt="">
        </div>
        <p>
            Как и у любой другой породы, у этих собак есть свои достоинства и <br> недостатки.
        </p>
        <p>К плюсам французов относится:</p>
        <ul>
            <li>Маленький размер. Французский бульдог станет прекрасным питомцем даже для владельца малогабаритной
                квартиры. С ним также можно отправляться в различные путешествия и при необходимости использовать
                переноску. С собаками данной породы легко ездить и в общественном транспорте.
            </li>
            <li>Храбрость. Французский бульдог привык грудью встречать опасность. Он не испугается даже собаки,
                которая в несколько раз крупнее его. Подобная отвага достались ему от предков и сохранилась и по сей
                день.
            </li>
            <li>Отсутствие бессмысленного лая. Собака данной породы может лаем предупредить о приходе чужака, но
                поднимать шум по пустякам не будет, что делает его прекрасным питомцем для многоквартирных домов.
            </li>
            <li>Дружелюбие. Французский бульдог очень дружелюбен. При правильном воспитании он легко уживается с
                другими питомцами</li>
            <li>Высокая активность. Эти собаки также обладают веселым нравом, поэтому с удовольствием разделят
                совместные игры с детьми.
            </li>
            <li>Простота в уходе. Из-за короткой шерсти и отсутствия подшерстка нет необходимости постоянно их
                вычесывать или водить в груминг-салоны.
            </li>
            <li>Ум и любознательность. Французский бульдог легко поддается дрессировке и с интересом обучается
                чему-то новому.</ol>
            <li>Не нуждается в длительных и активных прогулках, но если хозяин любит проводить много времени на
                свежем воздухе, то французский бульдог будет этому только рад.</ol>
        </ul>
        <br>
        <p>К особенностям породы, с которыми готов мириться не каждый владелец, можно отнести <br> следующее:</p>
        <ul>
            <li>Высокая вероятность теплового удара или переохлаждения. Жара, холод или сквозняки могут навредить
                питомцу. Французские бульдоги не защищены подшерстком от морозов и прямых солнечных лучей. После
                купания собак необходимо тщательно высушивать, а для выгула питомца в плохую погоду рекомендуется
                приобрести специальную одежду.
            </li>
            <li>Опасность при плавании. Поскольку французские бульдоги плохо плавают, они не смогут составить
                компанию хозяину при купании в водоемах. Более того, владельцу придется дополнительно следить, чтобы
                его бойкий питомец самостоятельно не побежал в воду, иначе существует риск, что его придется
                спасать.
            </li>
            <li>Высокий риск появления грибка в плотных складках на морде. Из-за этого хозяину надо время от времени
                просматривать их, чтобы там не возникло воспалений или нагноений. Также следует регулярно протирать
                ему эти участки влажной тряпочкой.
            </li>
            <li>Храп и проблемы с дыханием. Французский бульдог храпит, когда спит. Да и, в целом, из-за
                специфического строения головы у него есть проблемы с дыханием. И это, во-первых, может доставлять
                некоторые неудобства владельцу, а во-вторых, в определенной степени ограничивает и саму собаку.
                Например, за бульдогами обязательно надо следить во время физических нагрузок и не перетруждать
                слишком сильно.
            </li>
            <li>Упрямство. Если французский бульдог не хочет что-то делать, то заставить его очень трудно, и многие
                списывают подобное поведение на непослушание. На самом же деле либо у питомца мало мотивации для
                выполнения той или иной команды, либо он просто не обучен ей как следует.
            </li>
            <li>Чрезмерная энергичность. Французские бульдоги порой чересчур активны, и им требуется много внимания
                и должное воспитание. Иначе питомец станет неуправляемым и будет просто бегать по квартире и
                что-нибудь крушить.
            </li>
            <li>Ум и любознательность. Французский бульдог легко поддается дрессировке и с интересом обучается
                чему-то новому.</ol>
            <li>Абсолютное бесстрашие. Отвага французского бульдога имеет и обратную сторону медали. Эта собака не
                побоится напасть на противника больше, чем она, в несколько раз, не задумываясь о последствиях.
                Задача же хозяина оберегать своего питомца от таких необдуманных действий. При этом серьезный
                защитник из такой собаки вряд ли получится. Да, французский бульдог храбр, но он, во-первых, не
                приспособлен круглый год жить на улице, а во-вторых, из-за небольшого размера не сможет в одиночку
                справиться с нарушителями.</ol>
        </ul>
    </section>
</body>

</html>